<!DOCTYPE html>
<html>
<head>
<meta charset="${_response_encoding}">
<title>#{get 'title' /}</title>
<link rel="stylesheet" type="text/css" media="screen" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/redmond/jquery-ui.css" />
<link rel="stylesheet" media="screen" href="/public/javascripts/ext/bootstrap3/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="/public/stylesheets/jquery.formbuilder.css">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="/public/javascripts/ext/bootstrap3/js/bootstrap.min.js"></script>
#{get 'moreScripts' /}
</head>
<body>
#{doLayout /}
</body>
</html>
